<md-dialog class="modal-ancho">
  <form name="add_user" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar usuario</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          <md-input-container class="md-block" flex-gt-sm ng-if="false">
            <label>Id</label>
            <input type="text" name="name" ng-model="vm.user.id" required>
            <div ng-messages="add_user.name.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Requerido.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre</label>
            <input type="text" name="name" ng-model="vm.user.firstname" required>
            <div ng-messages="add_user.name.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Requerido.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Apellido</label>
            <input type="text" name="lastname" ng-model="vm.user.lastname" required>
            <div ng-messages="add_user.lastname.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Requerido.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Teléfono</label>
            <input type="text" name="phone" ng-model="vm.user.telephone" required>
            <div ng-messages="add_user.phone.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Requerido.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Correo</label>
            <input type="email" name="email" ng-model="vm.user.email" required>
            <div ng-messages="add_user.phone.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Requerido.</div>
            </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()" class="md-raised">Cancelar</md-button>
      <md-button ng-click="vm.save(vm.user)" ng-disabled="add_user.$invalid" class="md-raised md-primary">Agregar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>