<md-dialog class="modal-ancho-mid" md-theme="custom">
  <form name="add_user" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar dominio</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">

        <!-- Cuando se puedan escoger más dominios -->
        <div style="padding-top: 1em;padding-bottom: 2em">
          <md-autocomplete
            ng-disabled="vm.autoComplete"
            md-no-cache="vm.noCache"
            md-selected-item="vm.selectedItem"
            md-search-text-change="vm.searchTextChange(vm.searchText)"
            md-search-text="vm.searchText"
            md-selected-item-change="vm.selectedItemChange(item)"
            md-items="item in vm.querySearch(vm.searchText)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="Seleccione un dominio"
            md-menu-class="autocomplete-custom-template">
            <md-item-template>
              <span class="item-title">
                <md-icon><i class="material-icons">cloud_queue</i></md-icon>
                <span> {{item.name}} </span>
              </span>
            </md-item-template>
          </md-autocomplete>
        </div>

          <div>
            <label>Periocidad</label>
            <mdp-time-picker ng-model="vm.domain.periodicity" class="md-block" flex-gt-sm></mdp-time-picker>
          </div>

          <md-radio-group ng-model="vm.domain.notificationType">
            <label>Tipo de notificación</label>
            <md-radio-button value="1" class="md-accent">Correo</md-radio-button>
            <md-radio-button value="2" class="md-accent">Mensaje de texto</md-radio-button>
          </md-radio-group>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()" class="md-raised">Cancelar</md-button>
      <md-button ng-click="vm.save()" ng-disabled="add_user.$invalid" class="md-raised md-primary">Agregar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
