<!-- Toolbar -->
 <md-toolbar class="md-hue-2 tulbat">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()" hide-gt-md>
            <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h3 class="white">Dominios</h3>
    </div>
</md-toolbar> 
<md-progress-linear ng-if="vm.loading" class="md-accent" md-mode="query"></md-progress-linear>

<div class="container-custom">
    <div class="row">
        <div class="col-md-12">
            <md-button ng-click="vm.addDomain($event)" class="md-fab md-primary pull-right" aria-label="Use Android">
                <md-icon><i class="material-icons">add</i></md-icon>
            </md-button>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container-custom">
    <div class="row">
        <div class="col-md-12">
            <md-card>
                <md-card-content>
                    <table  class="table table-hover">
                        <tr>
                            <th class="td-table">Periodicidad</th>
                            <th class="td-table">Tipo de notifiación</th> 
                            <th class="td-table">Acciones</th>
                        </tr>
                        <tbody>
                            <tr ng-repeat="domain in vm.mydomains track by $index">
                                <td>
                                    <mdp-time-picker mdp-disabled="true" ng-model="domain.periodicity" class="md-block" flex-gt-sm></mdp-time-picker>
                                </td>
                                <td>
                                    <p class="label label-info" ng-if="domain.notificationType == 1">Correo</p>    
                                    <p class="label label-info" ng-if="domain.notificationType == 2">Mensje de texto</p>    
                                </td> 
                                <td>
                                    <md-button ng-click="vm.goTags(domain.id)" class="md-icon-button">
                                        <md-icon><i class="material-icons">bookmark</i></md-icon>
                                    </md-button>
                                    <md-button ng-click="vm.editDomain($event,domain)" class="md-icon-button">
                                        <md-icon><i class="material-icons">mode_edit</i></md-icon>
                                    </md-button>
                                    <md-button ng-click="vm.deleteDomain(domain.id)" class="md-icon-button" ng-click="null">
                                        <md-icon><i class="material-icons">delete</i></md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>


