<!-- Toolbar -->
 <md-toolbar class="md-hue-2 tulbat">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()" hide-gt-md>
            <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h3 class="white">Etiquetas</h3>
    </div>
</md-toolbar>
<md-progress-linear ng-if="vm.loading" class="md-accent" md-mode="query"></md-progress-linear>

<div class="container-custom">
    <div class="row">
        <div class="col-md-12">
            <md-button ng-click="vm.addDomain($event)" class="md-fab md-primary pull-right" aria-label="Use Android">
                <md-icon><i class="material-icons">add</i></md-icon>
            </md-button>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container-custom">
  <div class="row">
    <div class="col-md-12">
      <md-card>
        <md-card-content>
          <label class="custom-tag" ng-repeat="tag in vm.allTags">{{tag.tag}}
            <md-icon ng-click="vm.removeTag(tag.id)"><i class="material-icons" style="cursor: pointer;outline-color:">close</i></md-icon></label>
        </md-card-content>
        <md-card-action layout="row" layou-align="center center">
        </md-card-action>
      </md-card>
    </div>
  </div>
    <div class="row">
        <div class="col-md-12">
            <md-card>
                <md-card-content>
                  <md-chips
                    ng-model="vm.tags"
                    readonly="false"
                    md-removable="ctrl.removable"
                    placeholder="Ingrese una palabra ..."
                    delete-button-label="Remover palabra"
                    delete-hint="Press delete to remove tag"
                    secondary-placeholder="Nueva palabra ..."></md-chips>
                </md-chips>
                </md-card-content>
              <md-card-action layout="row" layou-align="center center">
                <md-button ng-click="vm.addTags()" class="md-raised md-primary">Agregar</md-button>
              </md-card-action>
            </md-card>
        </div>
    </div>
</div>


