<!-- Toolbar -->
 <md-toolbar class="md-hue-2 tulbat">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()" hide-gt-md>
            <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h3 class="white">Etiquetas</h3>
    </div>
</md-toolbar> 
<md-progress-linear ng-if="vm.loading" class="md-accent" md-mode="query"></md-progress-linear>

<div class="container-custom">
    <div class="row">
        <div class="col-md-12">
            <md-button ng-click="vm.addDomain($event)" class="md-fab md-primary pull-right" aria-label="Use Android">
                <md-icon><i class="material-icons">add</i></md-icon>
            </md-button>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container-custom">
    <div class="row">
        <div class="col-md-12">
            <md-card>
                <md-card-content>
                    <md-chips ng-model="ctrl.roFruitNames" name="fruitName" readonly="false"
                        md-removable="ctrl.removable" md-max-chips="5" placeholder="Enter a fruit...">
                    <md-chip-template>
                    <strong>{{$chip}}</strong>
                    <em>(fruit)</em>
                    </md-chip-template>
                </md-chips>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>


